<!doctype html>
<head>
    {% load staticfiles %}
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="{% static 'semantic-2.1/dist/semantic.css' %}"/>
    <link rel="stylesheet" href="{% static 'base.css' %}"/>
    <script type="text/javascript" src="{% static 'jquery-3.1.0.js' %}"></script>
    <script type="text/javascript" src="{% static 'semantic-2.1/dist/semantic.js' %}"></script>
    <script type="text/javascript" src="{% static 'base.js' %}"></script>
    <title>{% block titulo %}{% endblock %}</title>
</head>
<body class="cor-fundo">
<header class="cabecalho">
    <div class="ui grid">
        <div class="row">
            <div class='twelve wide column'>
                <h1 class="ui header">
                    <i class='ui icon world'></i>
                    <div class="ui content">
                        Gestão de Projetos
                        <p class="sub header">
                            Fábrica de Software
                        </p>
                    </div>
                </h1>
            </div>
        </div>
        {% if user.is_authenticated %}
            <div class="computer only row">
                <nav class="ui large menu stackable"><a class="item" href="/home">Home</a>
                    <div class="ui dropdown item">Usuario<i class="dropdown icon"></i>
                        <div class="menu">
                            {% if user.is_superuser %}
                                <a class="item" href="/usuario"><i class='ui icon newspaper'></i>Cadastro</a>
                                <a class="item" href="/consulta_usuario"><i class="search icon branco"></i>Consulta</a>
                                {% if usuario %}
                                    {% if usuario.super_adm %}
                                        <a class="item" href="/desbloquear_usuario"><i
                                                class=" lock big icon branco"></i>Desbolquear
                                            Usuario</a>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                            {% if user.is_superuser %}
                            {% else %}
                                <a class="item" href="/visualizar_usuario/{{ request.user.id }}"><i
                                        class="search icon branco"></i>Editar Horario</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="ui dropdown item">Projetos<i class="dropdown icon"></i>
                        <div class="menu">
                            {% if user.is_superuser %}
                                <a class="item" href="/projeto"><i class='ui icon newspaper'></i>Cadastro</a>
                            {% endif %}
                            <a class="item" href="/consulta_projeto"><i class="search icon branco"></i>Consulta</a>
                        </div>
                    </div>
                    {#                    <div class="ui dropdown item">Horarios<i class="dropdown icon"></i>#}
                    {#                        <div class="menu">#}
                    {#                            <a class="item" href="/horario"><i class='ui icon newspaper'></i>Cadastro</a>#}
                    {#                        </div>#}
                    {#                    </div>#}
                    <div class="ui dropdown item">Nucleo<i class="dropdown icon"></i>
                        <div class="menu">
                            {% if usuario %}
                                {% if usuario.super_adm %}
                                    <a class="item" href="/nucleo"><i class='ui icon newspaper'></i>Cadastro</a>
                                {% endif %}
                            {% endif %}
                            <a class="item" href="/consulta_nucleo"><i class="search icon branco"></i>Consulta</a>
                        </div>
                    </div>
                    <div class="ui dropdown item">Edital<i class="dropdown icon"></i>
                        <div class="menu">
                            {% if user.is_superuser %}
                                <a class="item" href="/edital"><i class='ui icon newspaper'></i>Cadastro</a>
                            {% endif %}
                            <a class="item" href="/consulta_edital"><i class="search icon branco"></i>Consulta</a>
                        </div>
                    </div>
                    <div class="ui dropdown item">Parceiros<i class="dropdown icon"></i>
                        <div class="menu">
                            {% if user.is_superuser %}
                                <a class="item" href="/parceiro"><i class='ui icon newspaper'></i>Cadastro</a>
                            {% endif %}
                            <a class="item" href="/consulta_parceiro"><i class="search icon branco"></i>Consulta</a>
                        </div>
                    </div>
                    {% if user.is_superuser %}
                        <div class="ui dropdown item">Curso<i class="dropdown icon"></i>
                            <div class="menu">
                                <a class="item" href="/curso"><i class='ui icon newspaper'></i>Cadastro de Curso</a>
                                <a class="item" href="/consulta_curso"><i class='search icon branco'></i>Consulta de
                                    Curso</a>
                            </div>
                        </div>
                    {% endif %}
                    {% if user.is_superuser %}
                        <div class="ui dropdown item">Bolsa<i class="dropdown icon"></i>
                            <div class="menu">
                                <a class="item" href="/bolsa"><i class='ui icon newspaper'></i>Cadastro de Bolsa</a>
                                <a class="item" href="/consulta_bolsa"><i class='search icon branco'></i>Consulta de
                                    Bolsa</a>
                            </div>
                        </div>
                    {% endif %}
                    {% if user.is_superuser %}
                        <div class="ui dropdown item">Relatorios<i class="dropdown icon"></i>
                            <div class="menu">
                                <a class="item" href="/log_cadastro"><i class='search icon branco'></i>Log de
                                    Cadastro</a>
                            </div>
                        </div>
                    {% endif %}
                    <div class="ui dropdown item right floated"><i class="user icon"></i>
                        {{ request.user.first_name }} <i class="dropdown icon"></i>
                        <div class="menu">
                            <a class="item" href="/editar_usuario/{{ request.user.id }}"><i class="configure icon"></i>Editar
                                Usuário</a>
                            <a class="item" href="/alterar_senha/"><i class="configure icon"></i>Alterar Senha</a>
                            <a class="item" href="/horario"><i class="add square icon"></i> Cadastro Horario</a>
                            <a class="item" href="#"><i class="add square icon"></i>Cadastrar Pagamento</a>
                            <a class="item" href="/logout"><i class='ui icon sign out'></i>Sair</a>
                        </div>
                    </div>
                </nav>
            </div>
            {#            <div class="mobile tablet only row">#}
            {#                <nav class="ui large menu ">#}
            {#                    <div class="ui dropdown item"><i class="content icon"></i><i class="dropdown icon"></i>#}
            {#                        <div class="menu">#}
            {#                            <div class="ui divider"></div>#}
            {#                            <a class="ui header" href="/home"><i class="home icon"></i>Home</a>#}
            {#                            <div class="ui divider"></div>#}
            {#                            <a class="ui header"><i class="user icon"></i>{{ request.user.first_name }}</a>#}
            {#                            <a class="item" href="/horario"><i class="add square icon"></i> Cadastro Horario</a>#}
            {#                            <a class="item" href="/editar_usuario/{{ request.user.id }}"><i class='setting icon'></i>Editar#}
            {#                                Usuário</a>#}
            {#                            <a class="item" href="/alterar_senha/"><i class='setting icon'></i>Alterar Senha</a>#}
            {#                            <div class="ui divider"></div>#}
            {#                            <div class="ui header">Usuario</div>#}
            {#                            {% if user.is_superuser %}#}
            {#                                <a class="item" href="/usuario"><i class='ui icon newspaper'></i>Cadastro</a>#}
            {#                            {% endif %}#}
            {#                            <a class="item" href="/consulta_usuario"><i class="search icon branco"></i>Consulta</a>#}
            {#                            {% if user.is_superuser %}#}
            {#                                <a class="item" href="/desbloquear_usuario"><i class="search icon branco"></i>Desbolquear#}
            {#                                    Usuario</a>#}
            {#                            {% endif %}#}
            {#                            <div class="ui divider"></div>#}
            {#                            <div class="ui header">Projetos</div>#}
            {#                            {% if user.is_superuser %}#}
            {#                                <a class="item" href="/projeto"><i class='ui icon newspaper'></i>Cadastro</a>#}
            {#                            {% endif %}#}
            {#                            <a class="item" href="/consulta_projeto"><i class="search icon branco"></i>Consulta</a>#}
            {#                            <div class="ui divider"></div>#}
            {#                            <div class="ui header">Horario</div>#}
            {#                            <a class="item" href="/horario"><i class='ui icon newspaper'></i>Cadastro</a>#}
            {#                            <div class="ui divider"></div>#}
            {#                            <div class="ui header">Nucleo</div>#}
            {#                            {% if user.is_superuser %}#}
            {#                                <a class="item" href="/nucleo"><i class='ui icon newspaper'></i>Cadastro</a>#}
            {#                            {% endif %}#}
            {#                            <a class="item" href="/consulta_nucleo"><i class="search icon branco"></i>Consulta</a>#}
            {#                            <div class="ui divider"></div>#}
            {#                            <div class="ui header">Edital</div>#}
            {#                            {% if user.is_superuser %}#}
            {#                                <a class="item" href="/edital"><i class='ui icon newspaper'></i>Cadastro</a>#}
            {#                            {% endif %}#}
            {#                            <a class="item" href="/consulta_edital"><i class="search icon branco"></i>Consulta</a>#}
            {#                            <div class="ui divider"></div>#}
            {#                            <div class="ui header">Parceiro</div>#}
            {#                            {% if user.is_superuser %}#}
            {#                                <a class="item" href="/parceiro"><i class='ui icon newspaper'></i>Cadastro</a>#}
            {#                            {% endif %}#}
            {#                            <a class="item" href="/consulta_parceiro"><i class="search icon branco"></i>Consulta</a>#}
            {#                            <div class="ui divider"></div>#}
            {#                            {% if user.is_superuser %}#}
            {#                                <div class="ui header">Curso</div>#}
            {#                                <a class="item" href="/curso"><i class='ui icon newspaper'></i>Cadastro de Curso</a>#}
            {#                                <a class="item" href="/consulta_curso"><i class='search icon branco'></i>Consulta de#}
            {#                                    Curso</a>#}
            {#                            {% endif %}#}
            {#                            <div class="ui divider"></div>#}
            {#                            {% if user.is_superuser %}#}
            {#                                <div class="ui header">Bolsa</div>#}
            {#                                <a class="item" href="/bolsa"><i class='ui icon newspaper'></i>Cadastro de Bolsa</a>#}
            {#                                <a class="item" href="/consulta_bolsa"><i class='search icon branco'></i>Consulta#}
            {#                                    de#}
            {#                                    Bolsa</a>#}
            {#                            {% endif %}#}
            {##}
            {#                            <div class="ui divider"></div>#}
            {#                            {% if user.is_superuser %}#}
            {#                                <div class="ui header">Relatorios</div>#}
            {#                                <a class="item" href="/log_cadastro"><i class='search icon branco'></i>Log de#}
            {#                                    Cadastro</a>#}
            {#                            {% endif %}#}
            {##}
            {#                            <div class="ui divider"></div>#}
            {#                            <a class="ui header" href="/logout"><i class="sign out icon"></i>Logout</a>#}
            {#                            <div class="ui divider"></div>#}
            {#                        </div>#}
            {#                    </div>#}
            {#                </nav>#}
            {#            </div>#}

            {#            <div class="mobile tablet only row">#}
            {#                <div class="ui large menu">#}
            {#                    <div class="ui dropdown item"><i class="content icon"></i><i class="dropdown icon"></i>#}
            {#                        <div class=" ui accordion menu">#}
            {#                            <div class=" item">#}
            {#                                <a class="title"><i class="dropdown icon" </a>#}
            {#                                <a class="item" href="projeto">Cadastro Projeto</a>#}
            {#                                <a class="item" href="consulta_projeto">Consulta Projeto</a>#}
            {##}
            {#                            </div>#}
            {##}
            {#                        </div>#}
            {#                    </div>#}
            {#                </div>#}
            {#            </div>#}

            <div class="mobile tablet only row">
                <nav class="ui large menu ">
                    <div class="ui large dropdown fluid item"><i class="content icon"></i><i class="dropdown icon"></i>
                        <div class="ui vertical accordion  menu">
                            <div class="item large">
                                <a class="title" href="/home"></i> Home </a>
                            </div>
                            <div class="ui divider"></div>
                            <div class="item">
                                <a class="title"><i class="dropdown icon"></i>{{ request.user.first_name }} </a>
                                <div class="content">
                                    <div class="grouped fields">
                                        <div class="field">
                                            <a class="item" href="/horario"><i class="add square icon"></i> Cadastro
                                                Horario</a>
                                        </div>
                                        <div class="field">
                                            <a class="item" href="/editar_usuario/{{ request.user.id }}"><i
                                                    class='setting icon'></i>Editar Usuário</a>
                                        </div>
                                        <div class="field">
                                            <a class="item" href="/alterar_senha/"><i class='setting icon'></i>Alterar
                                                Senha</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui divider"></div>
                            <div class="item">
                                <a class="title"><i class="dropdown icon"></i> Usuário </a>
                                <div class="content">
                                    <div class="grouped fields">
                                        <div class="field">
                                            {% if user.is_superuser %}
                                                <a class="item" href="/usuario"><i
                                                        class='ui icon newspaper'></i>Cadastro</a>
                                            {% endif %}
                                        </div>
                                        <div class="field">
                                            <a class="item" href="/consulta_usuario"><i class="search icon branco"></i>Consulta</a>
                                        </div>
                                        {% if usuario %}
                                            {% if usuario.super_adm %}
                                                <div class="field">
                                                    {% if user.is_superuser %}
                                                        <a class="item" href="/desbloquear_usuario"><i
                                                                class="search icon branco"></i>Desbolquear
                                                            Usuario</a>
                                                    {% endif %}
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                        <div class="field">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui divider"></div>
                            <div class="item ">
                                <a class="title"><i class="dropdown icon"></i> Projeto </a>
                                <div class=" content">
                                    <div class="grouped fields">
                                        <div class="field">
                                            {% if user.is_superuser %}
                                                <a class="item" href="/projeto"><i
                                                        class='ui icon newspaper'></i>Cadastro</a>
                                            {% endif %}
                                        </div>
                                        <div class="field">
                                            <a class="item" href="/consulta_projeto"><i
                                                    class="search icon branco"></i>Consulta</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui divider"></div>
                            <div class="item">
                                <a class="title"><i class="dropdown icon"></i> Nucleo </a>
                                <div class="content">
                                    <div class="grouped fields">
                                        {% if usuario %}
                                            {% if usuario.super_adm %}
                                                <div class="field">
                                                    <a class="item" href="/nucleo"><i class='ui icon newspaper'></i>Cadastro</a>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                        <div class="field">
                                            <a class="item" href="/consulta_nucleo"><i class="search icon branco"></i>Consulta</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui divider"></div>
                            <div class="item">
                                <a class="title"><i class="dropdown icon"></i> Edital </a>
                                <div class="content">
                                    <div class="grouped fields">
                                        <div class="field">
                                            {% if user.is_superuser %}
                                                <a class="item" href="/edital"><i class='ui icon newspaper'></i>Cadastro</a>
                                            {% endif %}
                                        </div>
                                        <div class="field">
                                            <a class="item" href="/consulta_edital"><i class="search icon branco"></i>Consulta</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui divider"></div>
                            <div class="item">
                                <a class="title"><i class="dropdown icon"></i> Parceiros </a>
                                <div class="content">
                                    <div class="grouped fields">
                                        <div class="field">
                                            {% if user.is_superuser %}
                                                <a class="item" href="/parceiro"><i
                                                        class='ui icon newspaper'></i>Cadastro</a>
                                            {% endif %}
                                        </div>
                                        <div class="field">
                                            <a class="item" href="/consulta_parceiro"><i class="search icon branco"></i>Consulta</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if user.is_superuser %}
                                <div class="ui divider"></div>
                                <div class="item">
                                    <a class="title"><i class="dropdown icon"></i> Curso </a>
                                    <div class="content">
                                        <div class="grouped fields">
                                            <div class="field">
                                                <a class="item" href="/curso"><i class='ui icon newspaper'></i>Cadastro
                                                    de
                                                    Curso</a>
                                            </div>
                                            <div class="field">
                                                <a class="item" href="/consulta_curso"><i
                                                        class='search icon branco'></i>Consulta
                                                    de
                                                    Curso</a>
                                            </div>
                                            <div class="field">

                                            </div>
                                            <div class="field">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if user.is_superuser %}
                                <div class="ui divider"></div>
                                <div class="item">
                                    <a class="title"><i class="dropdown icon"></i> Bolsa </a>
                                    <div class="content">
                                        <div class="grouped fields">
                                            <div class="field">
                                                <a class="item" href="/bolsa"><i class='ui icon newspaper'></i>Cadastro
                                                    de Bolsa</a>
                                            </div>
                                            <div class="field">
                                                <a class="item" href="/consulta_bolsa"><i
                                                        class='search icon branco'></i>Consulta
                                                    de
                                                    Bolsa</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if user.is_superuser %}
                                <div class="ui divider"></div>
                                <div class="item">
                                    <a class="title"><i class="dropdown icon"></i> Relatorios </a>
                                    <div class="content">
                                        <div class="grouped fields">
                                            <div class="field">
                                                <a class="item" href="/log_cadastro"><i class='search icon branco'></i>Log
                                                    de
                                                    Cadastro</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="ui divider"></div>
                            <div class="item large">
                                <a class="title" href="/logout">Logout</a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>

        {% endif %}
    </div>
</header>


<article class="corpo ui segment cor-conteudo">
    <div class="ui grid">
        <div class="row">
            <div class="three wide column"></div>
            <div class="ten wide column">

                {% block conteudo %}
                {% endblock %}
            </div>
        </div>
    </div>
</article>
<footer class="ui grid rodape verde_escuro">

    <div class="two wide column">
        <img class="ui small image" src="{% static 'fabrica.png' %}">
    </div>
    <div class=" twelve wide column">
        <label class="centered"> Versão 1.1 </label>
    </div>
    <div class="two wide column">
        <img class="ui small image" src="{% static 'ifc2.png' %}">
    </div>
</footer>
<script type="text/javascript">
    $('.dropdown')
        .dropdown()
    ;
    $('.ui.accordion')
        .accordion()
    ;
    $('.ui.sidebar')
        .sidebar('toggle')
    ;
    $('.message .close')
        .on('click', function () {
            $(this)
                .closest('.message')
                .transition('fade')
            ;
        })
    ;
</script>

</body>
</html>