<!doctype html>
	<head>
		{% load staticfiles %}
		<meta charset="utf-8"/>
		<link rel="stylesheet" href="{% static 'semantic-2.1/dist/semantic.css'%}" />
		<link rel="stylesheet" href="{% static 'semantic/base.css'%}" />
		<script type="text/javascript" src="{% static 'semantic/jquery.js'%}"></script>
		<script type="text/javascript" src="{% static 'semantic-2.1/dist/semantic.js'%}"></script>
		<script type="text/javascript" src="{% static 'semantic/base.js'%}"></script>
		<title>{%block titulo%}{%endblock%}</title>
	</head>
	<body class="cor-fundo">
		<header class="cabecalho">
			<div class="ui grid">
				<div class="row"> 
					<div class='twelve wide column'>
						<h1 class="ui header">
							<i class='ui icon world'></i>
							<div class="ui content">
								Gestão de Projetos
								<p class="sub header">
									Fábrica de Software
								</p>
							</div>
						</h1>
					</div>
				</div> 
		
				<div class="computer only row">
					<nav class="ui large menu stackable"><a class="item" href="/home" >Home</a>
						<div class="ui dropdown item">Usuario<i class="dropdown icon"></i>
							<div class="menu">
							{% if user.is_superuser %}
								<a class="item" href="/usuario"><i class='ui icon newspaper'></i>Cadastro</a>
							{% endif %}
								<a class="item" href="/consulta_usuario"><i class="search icon branco"></i>Consulta</a>
							</div>
						</div>
						<div class="ui dropdown item">Projetos<i class="dropdown icon"></i>
							<div class="menu">
							{% if user.is_superuser %}
								<a class="item" href="/projeto"><i class='ui icon newspaper'></i>Cadastro</a>
							{% endif %}
								<a class="item" href="/consulta_projeto"><i class="search icon branco"></i>Consulta</a>
							</div>
						</div>
						<div class="ui dropdown item">Horarios<i class="dropdown icon"></i>
							<div class="menu">
								<a class="item" href="/horario"><i class='ui icon newspaper'></i>Cadastro</a>
							</div>
						</div>
						<div class="ui dropdown item">Nucleo<i class="dropdown icon"></i>
							<div class="menu">
							{% if user.is_superuser %}
								<a class="item" href="/nucleo"><i class='ui icon newspaper'></i>Cadastro</a>
							{% endif %}
								<a class="item" href="/consulta_nucleo"><i class="search icon branco"></i>Consulta</a>
							</div>
						</div>
						<div class="ui dropdown item">Edital<i class="dropdown icon"></i>
							<div class="menu">
							{% if user.is_superuser %}
								<a class="item" href="/edital"><i class='ui icon newspaper'></i>Cadastro</a>
							{% endif %}
								<a class="item" href="/consulta_edital"><i class="search icon branco"></i>Consulta</a>
							</div>
						</div>
						{% if user.is_superuser %}
					   <div class="ui dropdown item">Administrador<i class="dropdown icon"></i>
							<div class="menu">
								<a class="item" href="/curso"><i class='ui icon newspaper'></i>Cadastro de Curso</a>
								<a class="item" href="/desbloquear_usuario"><i class="search icon branco"></i>Desbolquear Usuario</a>
							</div>
						</div>
						{% endif %}
						<a class="item right floated" href="/logout">Logout</a>
					</nav>
				</div>
				<div class="mobile tablet only row">
					<nav class="ui large menu ">
						<div class="ui dropdown item"><i class="content icon"></i><i class="dropdown icon"></i>
							<div class="menu">
								<div class="ui divider"></div>
								<a class="ui header" href="/home"><i class="home icon"></i>Home</a>
								<div class="ui divider"></div>
								<div class="ui header">Usuario</div>
									{% if user.is_superuser %}
									<a class="item" href="/usuario"><i class='ui icon newspaper'></i>Cadastro</a>
									{% endif %}
									<a class="item" href="/consulta_usuario"><i class="search icon branco"></i>Consulta</a>
								<div class="ui divider"></div>
								<div class="ui header">Projetos</div>
									{% if user.is_superuser %}
									<a class="item" href="/projeto"><i class='ui icon newspaper'></i>Cadastro</a>
									{% endif %}
									<a class="item" href="/consulta_projeto"><i class="search icon branco"></i>Consulta</a>
								<div class="ui divider"></div>
								<div class="ui header">Horario</div>
									<a class="item" href="/horario"><i class='ui icon newspaper'></i>Cadastro</a>
								<div class="ui divider"></div>
								<div class="ui header">Nucleo</div>
									{% if user.is_superuser %}
									<a class="item" href="/nucleo"><i class='ui icon newspaper'></i>Cadastro</a>
									{% endif %}
									<a class="item" href="/consulta_nucleo"><i class="search icon branco"></i>Consulta</a>
								<div class="ui divider"></div>
								<div class="ui header">Edital</div>
									{% if user.is_superuser %}
									<a class="item" href="/edital"><i class='ui icon newspaper'></i>Cadastro</a>
									{% endif %}
									<a class="item" href="/consulta_edital"><i class="search icon branco"></i>Consulta</a>
								<div class="ui divider"></div>
								{% if user.is_superuser %}
								<div class="ui header">Administrador</div>
									<a class="item" href="/curso"><i class='ui icon newspaper'></i>Cadastro de Curso</a>
									<a class="item" href="/desbloquear_usuario"><i class="search icon branco"></i>Desbolquear Usuario</a>
								{% endif %}
								
								<div class="ui divider"></div>
								<a class="ui header" href="/logout"><i class="sign out icon"></i>Logout</a>
								<div class="ui divider"></div>
							</div>
						</div>
					</nav>
				</div>
			
			</div>
		</header>         
		<article class="corpo ui segment cor-conteudo">
			<div class="ui grid">
				<div class="row">
					<div class="three wide column"></div>
					<div class="ten wide column">       
						{%block conteudo%}
						{%endblock%}
					</div>
				</div>
			</div>
		</article>
		<footer class="ui grid rodape verde_escuro">
			<div class="two wide column">
				<img class="ui small image"src="{% static 'semantic/fabrica.png'%}">
			</div>
			<div class="twelve wide column"></div>
			<div class="two wide column">
				<img  class="ui small image" src="{% static 'semantic/ifc2.png'%}">
			</div>  
		</footer>
		<script type="text/javascript">
			$('.dropdown')
  .dropdown()
;
		</script>
	</body>
</html>