{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block conteudo %}
	<div class='ui centered grid'>
		<div class='two column centered row'>
			<div class='ui column'>
				{% if form.errors %}
					<aside class="ui error message">
						<h3 class="header">
							Usuário ou senha inválidos.
						</h3>
					</aside>
				{% endif %}
				<form class='ui form' method="POST" action="{% url 'django.contrib.auth.views.login' %}">
					<h1 class="header">
							Login
					</h1>
					{% csrf_token %}	
					<div class="field">
						<label>Usuário</label>
						{{form.username}}
					</div>
					<div class="field">
						<label>Senha</label>
						{{form.password}}
					</div>
					<input type='submit' class="ui submit button verde_escuro direita "  value='Entrar'>
					 <a href='/usuario/cadastro.html'>Cadastre-se</a>
				</form>
			</div>
		</div>
	</div>

{% endblock %}