{% extends 'base.html' %}
{% block titulo %} Cadastro de Horário{% endblock %}
{% block conteudo %}

    {% if msg %}
        <div class="ui success message">
            <i class="close icon"></i>
            <div class="header">{{ msg }}</div>
        </div>
    {% endif %}

    {% if msg1 %}
        <div class="ui error message">
            <i class="close icon"></i>
            <div class="header">{{ msg1 }}</div>
        </div>
    {% endif %}

    {% if form.errors %}
        <div class="ui error message">
            <i class="close icon"></i>
            <div class="header">Campos Obrigatorios</div>
            <ul class="list">
                {% if form.data.errors %}
                    <li> Data é um campo obrigatorio</li>
                {% endif %}
                {% if form.turno.errors %}
                    <li> Turno é um campo obrigatorio</li>
                {% endif %}
                {% if form.hora_inicio.errors %}
                    <li> Hora de inicio é um campo obrigatorio</li>
                {% endif %}
                {% if form.hora_fim.errors %}
                    <li> Hora de termino é um campo obrigatorio</li>
                {% endif %}

            </ul>
        </div>
    {% endif %}

        <div class="ui segment">
            <h2 class="ui header">
                Cadastro de horários
                <div class="sub header">
                    Defina os períodos
                </div>
            </h2>
            <form method="POST" action="" class="ui form">
                <div class="fields">
                    <div class="five wide field">
                        <label>Dia</label>
                        <div class="ui input">
                            <input type="text" name="_"/>
                        </div>
                    </div>

                    <div class="five wide field">
                        <label>Período</label>
                        <div class="ui input">
                            <input type="text" name="_"/>
                        </div>
                    </div>

                    <div class="three wide field">
                        <label>Entrada</label>
                        <div class="ui input">
                            <input type="text" name="_"/>
                        </div>
                    </div>

                    <div class="three wide field">
                        <label>Saída</label>
                        <div class="ui input">
                            <input type="text" name="_"/>
                        </div>
                    </div>
                </div>

                <input type="reset" class="ui button" value="Limpar"/>
                <input type="submit" class="ui right floated green button" value="Salvar"/>
            </form>
        </div>

        <table class="ui definition celled fixed table">
            <thead>
                <tr>
                    <th></th>
                    <th>Manhã</th>
                    <th>Tarde</th>
                    <th>Noite</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>
                        <label>Segunda-Feira</label>
                    </td>
                    <td><div class="ui fluid blue large label">08h00 - 12h00</div></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td>
                        <label>Terça-Feira</label>
                    </td>
                    <td></td>
                    <td><div class="ui fluid blue large label">13h00 - 17h00</div></td>
                    <td></td>
                </tr>

                <tr>
                    <td>
                        <label>Quarta-Feira</label>
                    </td>
                    <td></td>
                    <td><div class="ui fluid blue large label">13h00 - 17h00</div></td>
                    <td></td>
                </tr>

                <tr>
                    <td>
                        <label>Quinta-Feira</label>
                    </td>
                    <td></td>
                    <td><div class="ui fluid blue large label">15h00 - 17h00</div></td>
                    <td></td>
                </tr>

                <tr>
                    <td>
                        <label>Sexta-Feira</label>
                    </td>
                    <td><div class="ui fluid blue large label">10h00 - 12h00</div></td>
                    <td><div class="ui fluid blue large label">13h00 - 17h00</div></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

{% endblock %}
