{% extends 'base.html'%}
{% block titulo %}Consulta de Recurso{% endblock %}
{% block conteudo%} 

<form method='POST' action='/consulta_recurso/' class="ui form">
 	{% csrf_token %}
 	<h1 class=" ui header">Consulta Recurso</h1>
 	<div class="ui action input">
  		{{form.nome}}
	    	<input type="submit" value="Pesquisar" class='icon search'>
	</div>
<table class="ui celled table">
	<thead>
		<tr>
			<th>Código</th>
			<th>Nome</th>
			{% if user.is_superuser %}
				<th>Visualizar</th>
				<th>Editar</th>
			{% endif %}
		</tr>	
	</thead>
	<tbody>
	{% for recurso in recursos %}
		<tr>
			<td>{{recurso.codigo}}</td>
			<td>{{recurso.nome}}</td>
			{% if user.is_superuser %}
				<td class="negative"><a href="../visualizar_recurso/{{recurso.id}}">Mais</a></td>
				<td><a href="../editar_recurso/{{recurso.id}}"><i class="settings  large icon"></a></td>
			{% endif %}
		</tr>
	{% endfor %}
	</tbody>
</table>

{{recurso.nome}}
{%endblock%}