{% extends 'base.html' %}
{% block titulo %} Cadastro de Bolsa{% endblock %}
{% block conteudo %}

    {% if msg %}
        <div class="ui success message">
            <i class="close icon"></i>
            <div class="header">{{ msg }}</div>
        </div>
    {% endif %}
                {% if vinculo %}
                    <div class="ui large message">
                    {% if editar %}
                        Editar pagamento para o vinculo <a href="#"><strong>{{ vinculo.bolsa }}</strong></a>
                    {% else %}
                        Cadatrar pagamento para o vinculo <a href="#"><strong>{{ vinculo.bolsa }}</strong></a>
                    {% endif %}
                        </div>
                {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        <label>Data de Pagamento</label>
            {% if editar %}
                {{ form.dt_pagamento }}
            {% else %}
                <input type="date" name="dt_pagamento" placeholder="dd/mm/YY">
            {% endif %}
            <label>Valor recebido</label>
            {{ form.valor }}
        <label>Vinculo do Pagamento</label>
            {{ form.vinculo }}
        <input type="submit">
    </form>

{% endblock %}