{% extends 'base.html' %}
{% block titulo %} Cadastro de Bolsa{% endblock %}
{% block conteudo %}

    {% if msg %}
        <div class="ui success message">
            <i class="close icon"></i>
            <div class="header">{{ msg }}</div>
        </div>
    {% endif %}
                {% if vinculo %}
                    <div class="ui large message">
                        Cadastrando pagamento para o vinculo <a href="{% url 'editar_vinculo' vinculo_id %}"><strong>{{ vinculo_id }}</strong></a>
                    </div>
                {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        {% if editar %}
            {{ form.dt_pagamento }}
        {% else %}
            <input name="dt_pagamento" type="date" placeholder="dd/mm/YY">
        {% endif %}
        {{ form.vinculo }}
        <input type="submit">
    </form>

{% endblock %}