{% extends 'base.html' %}
{% block titulo %}Consulta de Bolsa{% endblock %}
{% block conteudo %}


    <table class="ui celled table">
        <thead>
        <tr>
            <th>Vinculo</th>
            <th>Data Pagamento</th>
        </tr>
        </thead>
        <tbody>
        {% for pagamento in pagamentos %}
            <tr>
                <td>{{ pagamento.vinculo }}</td>
                <td>{{ pagamento.dt_pagamento|date:"d/m/Y" }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}