{% extends 'base.html' %}
{% block titulo %}     Visualizar Bolsa {% endblock %}
{% block conteudo %}
    {% if user.is_superuser %}

        <div class="ui form">
            <h2 class="ui header">Informações da Bolsa</h2>
            <div class="ui segment form">
                <div class="two fields">
                    <div class="field">
                        <label>Codigo</label>
                        {{ bolsa.codigo }}
                    </div>
                    <div class="field">
                        <label>Edital</label>
                        {{ bolsa.edital }}
                    </div>
                </div>
                <div class="two fields">
                    <div class="field">
                        <label>Data de Inicio</label>
                        {{ bolsa.dt_inicio }}
                    </div>
                    <div class="field">
                        <label>Data de Termino</label>
                        {{ bolsa.dt_termino }}
                    </div>
                </div>
                <div class="three fields">
                    <div class="field">
                        <label>Quantidade de Pagamento</label>
                        {{ bolsa.qtd_pagamento }}
                    </div>
                    <div class="field">
                        <label>Status</label>
{#                            {{ bolsa.status }}#}
                        {% if bolsa.status == True %}
                            <td class="center aligned"><i class="checkmark green large icon"></i></td>
                        {% else %}
                            <td class="center aligned"><i class="remove icone_red large icon"></i></td>
                        {% endif %}
                    </div>
                    <div class="field">
                        <label>Valor</label>
                        {{ bolsa.valor }}
                    </div>
                </div>

                <span class="ui dividing header">
                    Histórico de Vínculos
                </span>
                {% if vinculos|length == 0 %}
                    <div class="ui yellow message">
                        <header class="header">
                            Esta bolsa nunca foi vinculada!
                        </header>
                        Lorem lipsum
                    </div>
                {% else %}
                    <table class="ui single line striped center aligned table">
                        <thead>
                        <tr>
                            <th class="left aligned">Usuário</th>
                            <th>Status</th>
                            <th>Início</th>
                            <th>Término</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for vinculo in vinculos %}
                            <tr>
                                <td class="left aligned">
                                    <a href="/visualizar_usuario/{{ vinculo.usuario.id }}/">{{ vinculo.usuario.first_name }} {{ vinculo.usuario.last_name }}</a>
                                </td>
                                <td>
                                    {% if vinculo.status == True %}
                                        <i class="checkmark green icon"></i>
                                    {% else %}
                                        <i class="remove icone_red large icon"></i>
                                    {% endif %}
                                </td>
                                <td>{{ vinculo.dt_inicio|date:"d/m/Y" }}</td>
                                <td>{{ vinculo.dt_termino|date:"d/m/Y" }}</td>
                                <td>
                                    <a href="#">Editar</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}

                <a href="/vincular_bolsa/{{ bolsa.id }}/" class="ui azul_escuro left labeled icon button">
                    <i class="plus icon"></i>
                    Novo Vínculo
                </a>
            </div>

            <a href='/consulta_bolsa/'>
                <button class='ui red button'>Voltar</button>
            </a>
            <a href='/editar_bolsa/{{ bolsa.id }}'>
                <button class="ui button direita verde_escuro">Editar</button>
            </a>
        </div>
    {% endif %}
{% endblock %}