{% extends 'base.html' %}
{% block titulo %} Consulta Usuario{% endblock %}
{% block conteudo %}
    {% load staticfiles %}
    {% if user.is_superuser %}
        {% if msg %}
            <div class="ui success message">
                <i class="close icon"></i>
                <div class="header">{{ msg }}</div>
            </div>
        {% endif %}

        <form method='POST' action='/' class="ui form">
            {% csrf_token %}
            <h1 class=" ui header">Administrar Usuários</h1>

            <table class="ui  celled  table">
                <thead>
                <tr>
                    <th>Nome/Usuario</th>
                    <th>Status</th>
                    <th>Administrador</th>
                    <th>Acesso</th>
                    <th>Administrador</th>
                </tr>
                </thead>
                {% for usuario in usuarios %}
                    <tbody>
                    <tr>
                        <td>
                            <h4 class="ui image header">
                                <img src={{ usuario.foto.url }} class="ui mini rounded image">
                                <div class="content">{{ usuario.first_name }} {{ usuario.last_name }}
                                    <div class="sub header">{{ usuario.username }}</div>
                                </div>
                            </h4>
                        </td>

                        {% if usuario.is_active %}
                            <td class="center aligned"><i class="checkmark green large icon"></i></td>
                        {% else %}
                            <td class="center aligned"><i class="remove icone_red large icon"></i></td>
                        {% endif %}
                        {% if usuario.is_superuser %}
                            <td class="center aligned"><i class="checkmark green large icon"></i></td>
                        {% else %}
                            <td class="center aligned"><i class="remove icone_red large icon"></i></td>
                        {% endif %}
                        {% if usuario.is_active %}
                            <td class="center aligned"><a href="/bloquear_usuario/{{ usuario.verificacao }}"><i
                                    class="remove icone_red large icon"></i></a></td>
                        {% else %}
                            <td class="center aligned"><a href="/liberar_usuario/{{ usuario.verificacao }}"><i
                                    class="checkmark green large icon"></i></a></td>
                        {% endif %}
                        {% if usuario.is_superuser %}
                            <td class="center aligned"><a href="/adm_off/{{ usuario.verificacao }}"><i
                                    class="remove icone_red large icon"></i></a></td>
                        {% else %}
                            <td class="center aligned"><a href="/adm_on/{{ usuario.verificacao }}"><i
                                    class="checkmark green large icon"></i></a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </form>
    {% else %}
        <div class='ui centered grid'>
            <div class='two column centered row'>
                <div class='ui column centered'>
                    <div class='ui centered'>
                        <h2 class='ui header centered'>Acesso bloqueado, somente administrador.</h2>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}