{% extends 'base.html'%}
{% block titulo %} 	 Visualizar Usuário {% endblock %}
{% block conteudo %}
	<div class="ui grid">
		{% csrf_token %}
		<div class="row">
			<div class="three wide column"></div>
			<div class="fifteen wide column">       
				<div class="ui form">
					<h2 class="ui header">
			            Informações do Usuário
			        </h2>
				</div>
				<div class="ui segment form">
					<div class="two fields">
						<div class="field">
							<label>Nome</label>
							{{ usuario.first_name }}
						</div>
						<div class="field">
							<label>Sobrenome</label>
							{{usuario.last_name}}
						</div>
					</div>
					<div class="two fields">
						<div class="field">
							<label>Vínculo Institucional</label>
							{{usuario.vinculo_institucional}}
						</div>
						<div class="field">
							<label>Matrícula</label>
								{{usuario.matricula}}
						</div>
					</div>
					<div class="two fields">
						<div class="field">
							<label>Curso</label>
							{{usuario.curso}}
						</div>
						<div class="field">
							<label>Período</label>
							{{usuario.periodo}}
						</div>
					</div>
					<div class="two fields">
						<div class="field">
							<label>Carga Horaria</label>
							{{usuario.carga_horaria}}
						</div>
						<div class="field">
							<label>Telefone</label>
							{{usuario.telefone1}}
						</div>
					</div>
					<div class="two fields">
						<div class="field">
							<label>E-mail</label>
							{{usuario.email}}
						</div>
						<div class="field">
							<label>E-mail Opcional</label>
							{{usuario.email_opcional}}
						</div>
					</div>
					
					<div class="field">
						<label>Horário de Trabalho</label>
						<table class="ui celled table">
							<thead>
								<tr>
									<th>Dia da Semana</th>
									<th>Início</th>
									<th>Termino</th>
									{% if user.is_superuser %}
									<th>Editar</th>
									<th>Excluir</th>
									{% endif %}	
								</tr>
							</thead>
							{% for data in usuario.dia.all %} 
							<tbody>
								{% if data.data == 'SEG' %} 
								<td>Segunda-Feira</td>
								{% elif data.data == 'TER' %} 
								<td>Terça-Feira</td>
								{% elif data.data == 'QUA' %} 
								<td>Quarta-Feira</td>
								{% elif data.data == 'QUI'%} 
								<td>Quinta-Feira</td>
								{% elif data.data == 'SEX'%} 
								<td>Sexta-Feira</td>
								{% endif%}
								<td>{{data.hora_inicio}}</td>
 								<td>{{data.hora_fim}}</td>
 								{% if user.is_superuser %}
 								<td><a href="/editar_horario/{{ data.id }}"><i class="edit icon black large"></i></a></td>
 								<td><a href="/excluir_horario/{{ data.id }}"><i class="remove icon icone_red large"></i></a></td>
 								{% endif %}

 							</tbody>
 							{%endfor%}

 						</table>
					</div>
				</div>	
				<a href='/consulta_usuario/'><button class='ui red button direita '>Voltar</button></a>
			</div>
		</div>	
	</div>

{% endblock %}