{% extends 'base.html'%}
{% block titulo %} Cadastro de Vinculo{% endblock %}
{% block conteudo%}

    {% if msg %}
        <div class="ui success message">
            <i class="close icon"></i>
            <div class="header">{{ msg }}</div>
        </div>
    {% endif %}
    {% if form.errors %}
        <div class="ui error message">
            <i class="close icon"></i>
            <div class="header">Campos Obrigatorios</div>
            <ul class="list">
                {% if form.usuario.errors %}
                    <li> Usuario é um campo obrigatorio</li>
                {% endif %}
                {% if form.bolsa.errors %}
                    <li> Bolsa é um campo obrigatorio</li>
                {% endif %}
                {% if form.status.errors %}
                    <li> Status é um campo obrigatorio</li>
                {% endif %}
                {% if form.dt_inicio.errors %}
                    <li> Data de Inicio é um campo obrigatorio</li>
                {% endif %}
                {% if form.dt_termino.errors %}
                    <li> Data de Termino é um campo obrigatorio</li>
                {% endif %}

            </ul>
        </div>
    {% endif %}

    {% if user.is_superuser %}
        <form method='POST'>
            {% csrf_token %}
            <h1 class="ui header">
            {%if editar %}
                Editar Vinculo
            {% else %}
                Cadastrar Vinculo
            {%endif%}
            </h1>
            <div class="ui secondary segment">
            <div class="ui form">
                <div class="two fields field">
                    <div class="field">
                        <label>Data Início</label>
                        <div class="ui input">
                            <input type="date" id="dt_inicio" placeholder="dd/mm/aaaa" />
                        </div>
                    </div>

                    <div class="field">
                        <label>Data Término</label>
                        <div class="ui input">
                            <input type="date" id="dt_termino" placeholder="dd/mm/aaaa" />
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label>Aluno</label>
                    {{ form.usuario }}
                </div>

                <div class="field">
                    <label>Bolsa</label>
                    {{ form.bolsa }}
                </div>

                <div class="field">
                    <label>Status</label>
                    {{ form.status }}
                </div>
            </div>
            </div>
                <input type="submit" value="Registrar Vinculo" class="ui submit button direita verde_escuro"/>
        </form>
        <a href='/consulta_edital/'><button class='ui red button'>Cancelar</button></a>
        </div>
        {%else%}
        <div class='ui centered grid'>
            <div class='two column centered row'>
                <div class='ui column centered'>
                    <div class='ui centered'>
                        <h2 class='ui header centered'>Acesso bloqueado, somente administrador.</h2>
                    </div>
                </div>
            </div>
        </div>
    {%endif%}
{%endblock%}




