{% extends 'base.html' %}
{% block titulo %} Cadastro de Curso{% endblock %}
{% block conteudo %}



    <div class="four fields">
        <div class="two fields">
        <a class="ui large blue button" href="/projeto/"><i class="add square large icon "></i>Cadastro de
            Projeto</a>
        </div>
        <a class="ui large blue button" href="/edital/"><i class="add square large icon "></i>Cadastro de Edital</a>
    </div>
    <div class="two fields">
        <a class="ui large blue button" href="/curso/"><i class="add square large icon "></i>Cadastro de Curso</a>

        <a class="ui large blue button" href="/nucleo/"><i class="add square large icon "></i>Cadastro de Nucleo</a>
    </div>
    <div class="two fields">
        <a class="ui large blue button" href="/parceiro/"><i class="add square large icon "></i>Cadastro de Parceiro</a>

        <a class="ui large blue button" href="/bolsa/"><i class="add square large icon "></i>Cadastro de Bolsa</a>
    </div>

{% endblock %}




